<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    </head>
    <body>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>

